@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap);

.random__value {
    color: red;
  }
  
  .visually-hidden {
    display: none;
  }
  
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-5px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(5px);
    }
  }
  
  .shake {
    animation: shake 0.6s;
  }
  


 

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
   
}

.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: rgb(44, 45, 45);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

b{
    font-size: 70px;
    color: rgb(215, 233, 59)
}

.navItens{
    display: flex;
}

.navItens li{
    list-style: none;
    margin: 0 15px;
}

.navItens li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;

}

.navItens li:hover a,
.links a:hover{
    color: rgb(215, 233, 59)

}

.links a{
    font-size: 30px;
    color: #3d535f;
    margin: 25px 10px;

}


.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  margin: 0; 
  padding: 0; 
}

.container {
  width: 100%;
  text-align: center;
}

h1 {
  text-align: center;
}

.results__table {
  margin: 0 auto;
  text-align: center;
}

.results__table td {
  padding: 10px;
}

.content {
  text-align: center;
}

.wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 5px);
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  overflow: hidden;
}

.wrapper::before {
  position: absolute; 
  content: '';
  height: 350px;
  width: 350px;
  border-radius: 50%;
  left: -5%;
  top: 200px;
  background: linear-gradient(45deg, rgb(215, 233, 59), green);
  animation: object1 6s linear infinite;
}

.wrapper::after {
  position: absolute; 
  content: '';
  height: 150px;
  width: 150px;
  border-radius: 50%;
  left: 35%;
  top: 12%;
  background: linear-gradient(45deg, rgb(215, 233, 59), green);
  animation: object2 6s linear infinite;
}

@keyframes object1 {
  60% {
      left: -10%;
      top: 35%;
  }
}

@keyframes object2 {
  60% {
      left: 35%;
      top: 10%;
  }
}
